* {
  font-family: "Poppins", sans-serif;
}

.navbar-toggler {
    border-color: #fff;
    color: #000;
    cursor: pointer
}

.navbar-toggler:hover {
    color: #000;
}

.navbar-brand {
    margin-right: 50px;
    font-weight: 700;
}

.menu .nav-link {
    margin: 0 40px 0 40px;
    font-size: 16px;
    font-weight: 600;
}
.menu .nav-link:hover {
    color: #000;
}
.menu .nav-link.active {
    color: #000;
}

.btn-darker {
    background-color: #000;
    font-weight: 500;
}

.btn-darker:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    transition: 0.5s;
    border-color: rgba(0, 0, 0, 0.2);
}

.bg-darker-icon {
    background-color: #000;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 65px;
    color: #000;
    margin-bottom: 30px;
}

.hero p {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    opacity: 0.7;
    margin-bottom: 40px;
}

.btn-watch {
    padding: 12px 0 12px 0;
}

.btn-watch:hover {
    border-color: #fff;
}

.group-btn span {
    font-weight: 600;
}

.hero-img {
    width: 620px;
}

.how-img {
    width: 520px;
}

.how h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: 65px;
    color: #000;
    margin-bottom: 30px;
}

.how p {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    opacity: 0.7;
    margin-bottom: 30px;
}

.btn-how-1 {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.btn-how-1:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    opacity: 0.9;
    transition: 0.5s;
}

.btn-how {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}

.btn-how:hover {
    background-color: #000;
    border-color: #000;
    opacity: 0.9;
    transition: 0.5s;
}

.services h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: 65px;
    color: #000;
    margin-bottom: 30px;
}

.services h2 {
    font-size: 26px;
    font-weight: bold;
}

.services p {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    opacity: 0.7;
}

.resources img {
    width: 500px;
}

.resources h1 {
    font-size: 46px;
    font-weight: bold;
    line-height: 65px;
    color: #000;
    margin-bottom: 30px;
}

.resources p {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    opacity: 0.7;
}

input[type=email] {
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
}

.footer {
    background-color: #000;
    color: #fff;
}

.footer h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 65px;
    color: #fff;
    margin-bottom: 30px;
}

.footer p {
    font-size: 16px;
    color: #fff;
}

.social .btn {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
}

li .text-white {
    font-size: 16px;
    text-decoration: none;
}

p .footer {
    text-decoration: none;
}

/* For Mobile Devices */

@media (max-width: 480px) {
    .hero-img {
        width: 250px !important;
    }
    .how-img {
        width: 250px !important;
    }
    .services-img {
        width: 250px !important;
    }
    .resources-img {
        width: 250px !important;
    }
    .hero h1 {
        font-size: 28px;
        line-height: 35px;
    }
    .hero p {
        font-size: 14px;
        font-weight: normal;
    }
    .how h1 {
        font-size: 28px;
        line-height: 35px;
    }
    .how p {
        font-size: 14px;
        font-weight: normal;
    }
    .btn-how-1 {
        font-size: 14px;
    }
    .btn-how {
        font-size: 14px;
    }
    .services h1 {
        font-size: 28px;
        line-height: 35px;
    }
    .services h2 {
        font-size: 18px;
    }
    .services p {
        font-size: 14px;
        font-weight: normal;
    }
    .bg-darker-icon {
        display: none;
    }
    .resources h1 {
        font-size: 28px;
        line-height: 35px;
    }
    .resources p {
        font-size: 14px;
        font-weight: normal;
    }
    .footer-1 {
        display: none;
    }
}

/* For Tablet */

@media (max-width: 768px) {
    .hero {
        display: flex;
    }
    .hero-first {
        order: 2;
    }
    .hero-second {
        order: 1;
    }
    .hero-first h1 {
        margin-top: 50px;
    }
    .hero-img {
        width: 350px;
        display: block;
        margin: 0 auto;
    }
    .company {
        display: none;
    }
    .how-img {
        width: 350px;
        display: block;
        margin: 0 auto;
    }
    .how h1 {
        margin-top: 50px;
    }
    .card-col {
        margin-bottom: 26px;
    }
    .services {
        display: flex;
    }
    .services-first {
        order: 2;
    }
    .services-second {
        order: 1;
    }
    .services-img {
        width: 350px;
        display: block;
        margin: 0 auto;
    }
    .services h1 {
        margin-top: 50px;
    }
    .resources img {
        width: 350px;
        display: block;
        margin: 0 auto;
    }
    .resources h1 {
        margin-top: 50px;
    }
}